footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 210px;
}

.footer-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 66px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
