.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 43px 100px;
    padding: 50px;
    background: #f7f7f7;
    border-radius: 25px;
}

.card {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.card h2 {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    bottom: 0;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .cards-container {
        margin: 50px;
        padding: 30px;
    }

    .card {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card h2 {
        font-size: 16px;
    }

    .cards-container {
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        background-color: #ffffff;
        gap: 0px;
    }
}
