.notfound {
    align-items: center;
    text-align: center;
    color: #ff6060;
    padding-bottom: 150px;
    padding-top: 100px;
}

.notfound h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    margin: 0px;
}

.notfound h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
}

.notfound p a {
    font-weight: 300;
    font-size: 18px;
    line-height: 142.6%;
    text-decoration-line: underline;
    color: #ff6060;
}
