.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    background: #f7f7f7;
    border-radius: 25px;
}

.card {
    position: relative;
    width: 340px;
    height: 340px;
    margin: 30px;
    border-radius: 10px;
}

.card h2 {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    bottom: 0;
    color: #ffffff;
}
